---
layout: page
title: About
permalink: /about/
---

<div class="container mtb">
	<div class="row">
		<div class="col-md-12">
			<h3>What we do</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p>This text will be replaced in the future by Alexandru Onea. He will probably refuse but don't worry. Nexus will come to rescue after his flair regenerates.</p>
			<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
			<a href="{{ "/contact" | prepend: site.baseurl }}" class="btn btn-primary">Contact us</a>
			<div class="spacing"></div>
		</div>
		<div class="col-md-6">
			<img src="{{ "/assets/images/about.jpg" | prepend: site.baseurl }}" class="img-responsive">
		</div>
	</div>
</div>
</div>

{% include members.html %}
{% include testimonial.html %}
{% include clients.html %}
