<div id="portfoliowrap">
    {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
    <div id="portfolio">
        {% for project in site.categories.project limit:include.limit %}
            <div class="portfolio-item">
				<div class="tile">
                    <img src="{{ "/assets/images/project/" | prepend: site.baseurl }}{{ project.img }}" alt="">
                    <div class="tile-content" data-animate="animated fadeIn">
                        <h3 data-animate="animated fadeInDown">{{ project.title }}</h3>
                        <a rel="prettyPhoto" href="{{ "/assets/images/project/" | prepend: site.baseurl }}{{ project.img }}" class="dmbutton" data-animate="animated fadeInUp"><i class="fa fa-search"></i></a>
                        <a href="{{  project.url | prepend: site.baseurl }}" class="dmbutton" data-animate="animated fadeInUp"><i class="fa fa-link"></i></a>
                    </div>
				</div>
            </div>
        {% endfor %}
    </div>
</div>
